.item {
  color: var(--c-white);
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  transition: color var(--t-normal);
  font-family: var(--f-jost);

  &:hover {
    color: var(--c-gold-dark);
  }
}
