.latestNews {
  margin-bottom: 80px;
}

.wrapper {
  max-width: 1230px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  flex-direction: column;
}

.mainTitle {
  font-family: var(--f-jost);
  font-weight: 900;
  font-size: 40px;
  line-height: 144%;
  text-transform: uppercase;
  color: var(--c-white);
  margin-bottom: 40px;
}

.swiper {
  width: 100%;
  height: 100%;
}

.slide {
  display: flex !important;
  justify-content: center;
}

.card {
  width: 400px;
  height: 465px;
  background-color: var(--c-black-light);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
}

.img {
  display: flex;
  margin-top: 20px;
}

.image {
  flex: 0 0 25%;
}

.title {
  align-self: flex-start;
  font-family: var(--f-jost);
  font-weight: 900;
  font-size: 24px;
  text-transform: uppercase;
  color: var(--c-white);
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 15px;
}

.description {
  font-family: var(--f-jost);
  font-weight: 400;
  font-size: 16px;
  color: var(--c-white);
  margin: 0 20px;
}
