.intro {
  background: url('/Intro-background.jpg') no-repeat;
  background-size: cover;
  min-height: 100vh;
  margin-top: 130px;
  margin-bottom: 100px;
}

.wrapper {
  max-width: 1230px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.group {
  display: flex;
}

.title {
  font-weight: 900;
  font-size: 60px;
  line-height: 144%;
  text-transform: uppercase;
  color: var(--c-white);
  flex: 0 0 46.341463%;
  margin-top: 200px;
  font-family: var(--f-jost);
}

.description {
  font-weight: 400;
  font-size: 18px;
  color: var(--c-white-light);
  flex: 0 0 46.341463%;
  font-family: var(--f-jost);
}

.buttons {
  display: flex;
  gap: 20px;
}

.gold {
  height: 50px;
  padding: 0 60px;
  border: 1px solid var(--c-gold-dark);
  border-radius: 10px;
  background-color: var(--c-gold-dark);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 15px;
  text-transform: uppercase;
  color: var(--c-white);
  transition: background-color var(--t-normal);
  font-family: var(--f-jost);

  &:hover {
    background-color: var(--c-black);
  }
}

.transparent {
  height: 50px;
  padding: 0 60px;
  border: 1px solid var(--c-grey-light);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 15px;
  text-transform: uppercase;
  color: var(--c-white);
  transition: background-color var(--t-normal);
  font-family: var(--f-jost);

  &:hover {
    background-color: var(--c-gold-dark);
  }
}
